body {
    background-color: #663300;
}
.bookmark {
    color: #FEE781;
    padding-right: 10px;
}
.envelope {
    color: #FEE781;
    padding-right: 10px;

}
.facebook {
    color: #FEE781;
    padding-right: 10px;
}
.whatsapp {
    color: #FEE781;
    padding-right: 10px;
}
.menu {
    font-family: Verdana;
    margin-right: 50px;
}
.menu-botao {
    color: #FEE781 !important;
}
